[Unit]
Description=YATM Service
Documentation=https://github.com/samuelncui/yatm/
After=network.target

[Service]
User=root
Type=simple
UMask=0002
WorkingDirectory=/opt/yatm
ExecStart=/opt/yatm/yatm-httpd
Restart=always
RestartSec=15
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
