[Unit]
Description=Tape Writer Service
Documentation=https://github.com/samuelncui/tapemanager/
After=network.target

[Service]
User=root
Type=simple
WorkingDirectory=/opt/tapemanager
ExecStart=/opt/tapemanager/httpd
Restart=always
RestartSec=15
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
